@charset "utf-8";

header h1 {
    text-align: center;
}

main, aside, article, header, footer {
    border: 1px solid gray;
}

main {
    max-width: 1200px;
    margin: auto;
    
    display: grid;
    grid-template-areas:
        "h h h"
        "b c j"
        "f f f";
    grid-gap: 10px;
}

header {
    grid-area: h;
}

#bal {
    grid-area: b;
    height: 400px;
}

#csonak {
    grid-area: c;
    height: 400px;
    width: 600px;
    text-align: center;
}

#jobb {
    grid-area: j;
    height: 400px;
}

footer {
    grid-area: f;
    text-align: center;
}

footer p {
    background-color: #99ccff;
}

img {
    width: 50px;
}
.kiemel{
    border: 2px solid red;
    cursor: grab;

}

#bal img {
    width: 80px;
}

#csonak img {
    width: 400px;
}

.nevek {
    text-align: center;
    font-size: 20px;
}

article {
    background-color: #33ccff;
}